<div class ="navbar navbar-fixed-top">
	<div class ="navbar-inner">
		<div class ="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
          </a>  
  
          <div class="nav-collapse">  
            <ul class="nav">  
              <li> <%= link_to t('.home'), store_path %></li> 
              <li><a href="#about">About</a></li>  
              <li><a href="#contact">Contact</a></li>  
              <li><%= link_to 'cheriamo', '/cheriamo/index' %></li>  
            </ul>  
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>  
          </div><!--/.nav-collapse --> 
		</div>
	</div><!-- navbar-inner-->
</div><!--nav-bar-fixed-->
